<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Accueil"></ion-back-button>
        </ion-buttons>
        <ion-title>Contact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="header" *ngIf="nom && age">
        <h2>{{this.nom}}</h2>

        <div class="space-between">
            <p>repository : {{this.repos}} </p>
        </div>

        <p>age : {{this.age}}</p>

        <p> {{ (age
            < 18) ? 'tu es minueur' : ' tu es majeur' }}</p>
    </div>

    <div *ngIf="!nom || !age" id="panel-error">

        <h4>Merci de remplir tous les champs.</h4>

    </div>

    <div>
        <p>Pseudo github : {{this.pseudo}}</p>
        <p>Id github : {{this.id}}</p>
        <p>Nom github : {{this.nameUser}}</p>

        <p>Avatar :</p>
        <img data-src='{{this.img}}' />
    </div>

    <ion-input type="text" [(ngModel)]="name" text-right id="input" placeholder="Entrez votre nom"></ion-input>
    <ion-input type="number" [(ngModel)]="age" text-right id="input" placeholder="Entrez votre age"></ion-input>
    <ion-button expand="full" (click)="detailParams()">
        Envoyer
    </ion-button>

    {{name}} {{age}}



    <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <input name="first" ngModel required #first="ngModel">
        <input name="last" ngModel>
        <button>Submit</button>
    </form>

    <p>First name value: {{ first.value }}</p>
    <p>First name valid: {{ first.valid }}</p>
    <p>Form value: {{ form.value | json }}</p>
    <p>Form valid: {{ form.valid }}</p>
</ion-content>