.header {
    background-color: #22a2e6;
    height: 180px;
    padding-top: 1px;
}

.header h2 {
    color: white;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10ox;
    margin-left: 1px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followings p {
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}

.image-box {
    width: 130px;
    border: 0;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.border-white {
    border: 4px solid white;
    border-radius: 50%;
    //fit-content = colle aux bords de l'élément enfant.
    width: fit-content;
}

.border-blue {
    border: 7px solid #1983bb;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}

.tweet {
    margin-top: -10px;
}

.tweet ion-label {
    font-size: 15px;
}

.view {
    padding-left: 15px;
}

.compteur {
    padding-left: 10px;
    ;
}