<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-explore-container name="Tab 1 page"></app-explore-container>

    <ion-item>
        <ion-badge slot="start">11</ion-badge>
        <ion-label>Mon objet</ion-label>
        <ion-badge slot="end">22</ion-badge>
    </ion-item>

    <ion-input type="text" [(ngModel)]="nom" placeholder="Votre nom"></ion-input>
    <ion-item routerLink="/contact">
        <ion-icon name="at-outline"></ion-icon>
        <ion-label>Contact</ion-label>
    </ion-item>



    <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <input name="nom" ngModel required placeholder="nom">
        <input name="age" ngModel required placeholder="age">
        <button>Envoyer</button>
    </form>
</ion-content>