<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 3
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 3</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-explore-container name="Tab 3 page"></app-explore-container>



    <ion-row class="ion-justify-content-center">
        <ion-col size="3">
            <div>
                1 of 2
            </div>
        </ion-col>
        <ion-col size="3">
            <div>
                2 of 2
            </div>
        </ion-col>

    </ion-row>

    <!-- centrer un élément -->
    <ion-row class="ion-justify-content-center">
        <ion-col size="6">
            <ion-button>
                BOUTON
                <ion-icon slot="end" name="star"></ion-icon>
            </ion-button>

        </ion-col>
    </ion-row>

</ion-content>